[Unit]
Description=openalpr image uploader

[Service]
ExecStart=/usr/local/bin/node /var/lib/openalpr/openalpr-images/messageloop.js
Restart=on-failure
User=openalpr
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=openalpr
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/deepracer/openalpr-images/

[Install]
WantedBy=multi-user.target